.banner
	min-height 780px
	background url('../../images/banner/banner__bg.jpg')
	background-repeat no-repeat
	background-size cover
	&__content
		width 100%
		height 100%
	
	&__slider
		margin-top 300px