.button
	padding 17px 40px
	display inline-block
	color #fff
	text-transform uppercase
	font-weight bold
	text-decoration none
	background-color $main-color
	transition all .35s ease
	
	&:hover
		background-color ($main-color + 15%)