body
	font-family 'Roboto Condensed', sans-serif;

@media (min-width $screen-md-min) and (max-width $screen-md-max)
	.col-five
		width 20%
		float left
		position relative
		min-height 1px
		padding-left 15px
		padding-right 15px

@media (min-width $screen-lg-min)
	.col-five
		width 20%
		float left
		position relative
		min-height 1px
		padding-left 15px
		padding-right 15px