body
	font-family 'Roboto Condensed', sans-serif;

@media (min-width $screen-md-min) and (max-width $screen-md-max)
	.col-five
		width 20%
		float left
		position relative
		min-height 1px
		padding-left 15px
		padding-right 15px

@media (min-width $screen-lg-min)
	.col-five
		width 20%
		float left
		position relative
		min-height 1px
		padding-left 15px
		padding-right 15px

.col-absolute
	position absolute
	top 0
	right 0
	bottom 0
	left 0