.counter
	padding-bottom 30px
	min-height 375px
	background-image url('../../images/counter/counter__bg.jpg')
	background-repeat no-repeat
	background-size cover
	
	&__counter-block
		margin-top 60px
		