.logo
	display block
	color #ec4848
	font-size 33px
	font-weight bold
	text-transform: uppercase
	font-family 'PT Sans', sans-serif
	&:hover
	&:focus
		color #ec4848
		text-decoration none
	
	@media (max-width: $screen-xs-max)
		font-size 30px