.menu
	position relative
	margin-right 30px
	display inline-block
	font-size 0
	transition all .35s ease
	
	&__item
		margin-right 32px
		color #3f444a
		font-size 14px
		font-weight bold
		text-transform uppercase
		text-decoration none
		&:last-child
			margin-right 0
		
		&--active
			color $main-color