.preloader
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background-color $main-color
	background-image url('../../images/preloader/preloader__loader.svg')
	background-repeat no-repeat
	background-position center center
	background-size 100px
	z-index 30
	transition all 1s ease
	
	@media (max-device-width: $screen-xs-max)
		background-size 80px