.search	
	position absolute
	top 22px
	right 80px
	visibility hidden
	transform translateY(-450px)
	transition all .35s ease
	
	&__input
		padding-left 15px
		padding-right 30px
		height 30px
		line-height 30px
		width 360px
		font-size 20px
		border none
		outline none
	
	&__button
		position absolute
		right 10px
		top 8px
		line-height 100%
		font-size 20px
		color $color
		text-align center
		transition all .35s ease
		
		&:hover
			color $main-color
	
	&__submit
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		background-color transparent
		border none
		outline none
	
	@media (max-width: $screen-xs-max)
		margin-bottom 15px
		position static
		transform translateY(0)
		visibility visible
		
		&__input
			padding-left 5px
			padding-right 25px
			width 87%
			font-size 18px
			