.service-container
	margin-top 55px
	padding-top 170px
	padding-bottom 40px
	max-width 330px
	text-align center
	font-family: 'Roboto Condensed', sans-serif;
	border 1px solid #dbdbdb
	border-radius 8px
	transition all .35s ease
	
	&__title
		margin-left 25px
		font-size 22px
		text-align left
		text-transform uppercase
		font-weight 700
	
	&__desc
		margin-left 25px
		margin-top 25px
		font-size 18px
		text-align left
		font-weight 300
	
	&__button
		margin-top 50px
	
	&:hover
		background-color: $color
		color #fff
	
	&--img-left
		background-image url('../../images/service/icon-left.png')
		background-repeat no-repeat
		background-position center 30px
		transition all .35s ease
		
		&:hover
			background-image url('../../images/service/icon-left-hover.png')
	
	&--img-center
		background-image url('../../images/service/icon-center.png')
		background-repeat no-repeat
		background-position center 30px
		transition all .35s ease
		
		&:hover
			background-image url('../../images/service/icon-center-hover.png')
			
	&--img-right
		background-image url('../../images/service/icon-right.png')
		background-repeat no-repeat
		background-position center 30px
		transition all .35s ease
		
		&:hover
			background-image url('../../images/service/icon-right-hover.png')
	
	@media (max-width: $screen-xs-max)
		&__title
		&__desc
			margin-left 0
			text-align center