.slider
	font-family: 'Open Sans', sans-serif;
	color #fff
	
	&__title
		font-size 90px
		font-weight 800
		text-transform uppercase
		
		&--size
			font-size 60px
	
	&__text
		font-size 14px
		font-weight 600
		text-transform uppercase
		
		&--size
			font-size 18px