.social-icons
	margin-top 40px
	font-size 0
	
	&__icon
		display inline-block
		margin-right 5px
		width 45px
		height @width
		line-height @width
		font-size 16px
		color $color
		text-align center
		background-color #fff