.some-info
	padding-top 50px
	min-height 350px
	background-color: #151515
	
	&__logo
		margin-left -15px
	
	&__text
		margin-top 25px
		font-size 14px
		color #ccc
	
	&__social-icons
		margin-top 40px
	
	&__features
	&__tags
	&__posts
		margin-top 6px
		margin-left -15px
		font-size 21px
		color #fff
	
	&__list
		margin-top 43px
		padding 0
		color #ccc
		list-style none
	
	&__item
		margin-bottom 30px
		padding-left 25px
		background-image url('../../images/some-info/some-info__item-icon.png')
		background-repeat no-repeat
		background-position: 0 0
	
	&__tags-list
		margin-top 43px
		padding 0
		font-size 0
	
	&__tag-item
		margin-right 5px
		margin-bottom 5px
		padding 5px
		display inline-block
		font-size 14px
		text-transform uppercase
		font-weight 300
		color #fff
		background-color $main-color
	
	&__posts-list
		margin-top 43px
		width 280px
		padding 0
		font-size 0
	
	&__post-item
		margin-right 10px
		margin-bottom 10px
		display inline-block
		width 60px
		height @width
	
	@media (max-width: $screen-xs-max)	
		text-align center
		
		&__logo
			margin-left 0
		
		&__features
		&__tags
		&__posts
			margin-left 0
		
		&__item
			margin-right auto
			margin-left auto
			display table
		
		&__posts-list
			margin-right auto
			margin-left auto
			width 100%
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)	
		text-align center
		
		&__logo
			margin-left 0
		
		&__features
		&__tags
		&__posts
			margin-left 0
		
		&__item
			margin-right auto
			margin-left auto
			display table
		
		&__posts-list
			margin-right auto
			margin-left auto
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
		padding-bottom 30px
		
		&__social-icons
			margin-left -25px

		&__posts-list
			width 100%
		