.subscribe
	padding-top 30px
	min-height 80px
	background-color: #312b2b
	
	&__text
		font-size 16px
		color #ccc
	
	&__subscribe-form
		margin-top -15px
		margin-left -10px
	
	@media (max-width: $screen-xs-max)
		padding-bottom 40px
		
		&__text
			text-align center

		&__subscribe-form
			margin 0 auto
			margin-top 30px